extends layout 

block content 
  form(action="/new", method="post")
    .author-name-input.input-field
      label(for="author-name") Name
      input#author-name(type="text", placeholder="Your Name" name="author" required)
    .message-input.input-field
      label(for="message") Message
      textarea#message(placeholder="Your Message" name="message" required)
    button(type="submit") Send Message