extends layout

block content
  h1 Mini Message Board
  p Welcome! 

  ul(class="messages")
    each msg, i in messages 
      li(class="message")
        div
          div(class="message-user")=msg.user
          div(class="message-added")=msg.added
        div(class="message-text")=msg.text
