extends layout

block content
  ul.messages
    each msg, i in messages 
      li.message
        div
          div.message-user=msg.author
          div.message-added=msg.added
        div.message-text=msg.text
