extends layout

block content
  h1 Mini Message Board
  p Welcome! 

  ul.messages
    each msg, i in messages 
      li.message
        div
          div.message-user=msg.user
          div.message-added=msg.added
        div.message-text=msg.text
